$base-path: "../";
$font-stack: "vazir", "lalezar", Verdana, Geneva, Tahoma, sans-serif;

$color-blue1: #0d62da;
$color-blue2: #2196f3;
$color-blue3: #457b9d;
$color-blue4: #edfcff;
$color-blue5: #264653;

$color-site1: #d8f3dc;
$color-site2: #b7e4c7;
$color-site3: #95d5b2;
$color-site4: #74c69d;
$color-site5: #52b788;
$color-site6: #40916c;
$color-site7: #2d6a4f;
$color-site8: #1b4332;
$color-site9: #081c15;

$color-white: white;

$color-jasper1: #a5a58d;

$color-green1: #d3f4f2;

$color-orange1: #e76f51;
$color-orange2: #ff6600;
$color-orange3: #d35400;

$color-gray1: #f1f1f1;
$color-gray2: #cccccc;
$color-gray3: #444444;
$color-gray4: #999999;

$color-brown1: #3c4858;

$cubic-bezier: cubic-bezier(0.39, -0.69, 0.59, 1.54);
